name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Cache Timestamp
        id: cache_timestamp
        uses: nanzm/get-time-action@v2.0
        with:
          format: 'YYYY-MM-DD-HH-mm-ss'
      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazelcache_test_${{ steps.cache_timestamp.outputs.time }}
          restore-keys: bazelcache_test_
      - name: Test
        run: |
          export CC=gcc-13
          export CXX=g++-13
          bazel test --noshow_progress --keep_going ...
  MacOsBuild:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Test
        run: |
          bazel test --noshow_progress --keep_going ...
      - name: Build
        run: |
          bazel build --noshow_progress -c opt //fpga:fpga-as
  CodeFormatting:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Dependencies
        run: |
          sudo apt-get install clang-format-17
      - name: Run formatting style check
        run: |
          clang-format-17 --version
          RUNNING_IN_CI=1 CLANG_FORMAT=clang-format-17 \
            scripts/run-clang-format.sh
  ClangTidy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Dependencies
        run: |
          sudo apt-get install clang-tidy-18
      - name: Create Cache Timestamp
        id: cache_timestamp
        uses: nanzm/get-time-action@v2.0
        with:
          format: 'YYYY-MM-DD-HH-mm-ss'
      - name: Mount clang-tidy cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/clang-tidy
            ~/.cache/bazel
          key: clang-tidy-cache_${{ steps.cache_timestamp.outputs.time }}
          restore-keys: clang-tidy-cache_
      - name: Build Compilation DB
        run: |
          scripts/make-compilation-db.sh
      - name: Run clang-tidy
        run: |
          clang-tidy-18 --version
          CLANG_TIDY=clang-tidy-18 scripts/run-clang-tidy-cached.cc \
            || ( cat fpga-assembler_clang-tidy.out ; exit 1)
  NixBuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v15
        with:
          name: fpga-assembler
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: |
          nix flake archive --json \
            | jq -r '.path,(.inputs|to_entries[].value.path)' \
            | cachix push fpga-assembler
      - run: |
          nix build --no-link --print-out-paths \
            | cachix push fpga-assembler
